<div class="container-networks">
  <div class="network">
    <img src= "<%= asset_path 'RS/fb.png' %>" alt="">
    <a href="#"></a>
  </div>
    <div class="network">
    <img src= "<%= asset_path 'RS/noc.png' %>" alt="">
    <a href="#"></a>
  </div>
    <div class="network">
    <img src= "<%= asset_path 'RS/insta.png' %>" alt="">
    <a href="#"></a>
  </div>
    <div class="network">
    <img src= "<%= asset_path 'RS/youtube.png' %>" alt="">
    <a href="#"></a>
  </div>
</div>
