/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

body {
  color: black;
}
h1 {
  // font-size: 50px;
  font-size: 35px;
  font-weight: 900;
  strong {
    // font-size: 80px;
    font-size: 50px;
    font-weight: 900;
  }
}
h2 {
  // font-size: 40px;
  font-size: 35;
  font-weight: 900;
}
h3 {
  // font-size: 45px;
  font-size: 35px;
  font-weight: 300;
  strong {
    font-weight: 900;
  }
}
p {
  // font-size: 25px;
 font-size: 20px;
}

.div-center {
  display: flex;
  justify-content: center;
}
// .container-email {
//   position: relative;
//   img {
//     position: absolute;
//     right: 0px
//   }
// }
// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

